<?xml version="1.0" ?>
<robot name="panda" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <joint name="left_panda_fixed" type="fixed">
    <origin rpy="0 0 0.0" xyz="0 0.5 0.0"/>
    <parent link="left_panda_link0"/>
    <child link="base_link"/>
    <axis xyz="0 0 0"/>
  </joint>

  <link name="left_panda_link0">

  </link>
  <link name="left_panda_link1">
  <visual>
      <origin rpy="0 0 0" xyz="0 0 -0.333"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link0.dae"/>
      </geometry>
    </visual>
    <collision>
        <origin rpy="0 0 0" xyz="0 0 -0.333"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/link0.obj"/>
      </geometry>
    </collision>

  </link>
  <joint name="left_panda_base" type="fixed">

    <origin rpy="0 0 0" xyz="0 0 -0.333"/>
    <parent link="left_panda_link1"/>
    <child link="left_panda_link0"/>
    <axis xyz="0 0 1"/>

  </joint>
  <link name="left_panda_link2">
    <visual>
        <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link1.dae"/>
      </geometry>
    </visual>
    <collision>
        <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/link1.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_panda_joint1" type="revolute">
      <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>

    <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
    <parent link="left_panda_link2"/>
    <child link="left_panda_link1"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-2.8973" upper="2.8973" velocity="2.1750"/>

  </joint>
  <link name="left_panda_link3">
    <visual>
        <origin rpy="-1.57079632679 0 0" xyz="0 0 -0.316"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link2.dae"/>
      </geometry>
    </visual>
    <collision>
        <origin rpy="-1.57079632679 0 0" xyz="0 0 -0.316"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/link2.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_panda_joint2" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-1.7628" soft_upper_limit="1.7628"/>
    <origin rpy="-1.57079632679 0 0" xyz="0 0 -0.316"/>
    <parent link="left_panda_link3"/>
    <child link="left_panda_link2"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-1.7628" upper="1.7628" velocity="2.1750"/>

  </joint>
  <link name="left_panda_link4">
    <visual>
        <origin rpy="-1.57079632679 0 0" xyz="-0.0825 0 0"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link3.dae"/>
      </geometry>
    </visual>
    <collision>
        <origin rpy="-1.57079632679 0 0" xyz="-0.0825 0 0"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/link3.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_panda_joint3" type="revolute">
        <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>

    <origin rpy="-1.57079632679 0 0" xyz="-0.0825 0 0"/>
    <parent link="left_panda_link4"/>
    <child link="left_panda_link3"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-2.8973" upper="2.8973" velocity="2.1750"/>

    <!-- something is weird with this joint limit config
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-3.0" upper="0.087" velocity="2.1750"/>  -->
  </joint>
  <link name="left_panda_link5">
    <visual>
      <origin rpy="1.57079632679 0 0" xyz="0.0825 0 -0.384"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link4.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.57079632679 0 0" xyz="0.0825 0 -0.384"/>
      <geometry>
        <mesh filename="ppackage://relaxed_ik/meshes/collision/link4.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_panda_joint4" type="revolute">
      <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="0.0698" soft_upper_limit="3.0718"/>

    <origin rpy="1.57079632679 0 0" xyz="0.0825 0 -0.384"/>
    <parent link="left_panda_link5"/>
    <child link="left_panda_link4"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="87" lower="0.0698" upper="3.0718" velocity="2.1750"/>

  </joint>
  <link name="left_panda_link6">
  <visual>
      <origin rpy="-1.57079632679 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link5.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="-1.57079632679 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/link5.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_panda_joint5" type="revolute">
      <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>

    <origin rpy="-1.57079632679 0 0" xyz="0 0 0"/>
    <parent link="left_panda_link6"/>
    <child link="left_panda_link5"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="12" lower="-2.8973" upper="2.8973" velocity="2.6100"/>
    <!-- <dynamics damping="10.0"/>
    <limit effort="12" lower="-0.0873" upper="3.0" velocity="2.6100"/> -->
  </joint>
  <link name="left_panda_link7">
  <visual>
    <origin rpy="-1.57079632679 0 0" xyz="-0.088 0 0"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link6.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="-1.57079632679 0 0" xyz="-0.088 0 0"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/link6.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_panda_joint6" type="revolute">
      <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-3.7525" soft_upper_limit="0.0175"/>

    <origin rpy="-1.57079632679 0 0" xyz="-0.088 0 0"/>
    <parent link="left_panda_link7"/>
    <child link="left_panda_link6"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="12" lower="-3.7525" upper="0.0175" velocity="2.6100"/>
  </joint>

  <link name="left_panda_link8">
  <visual>
    <origin rpy="0 0 0" xyz="0 0 -0.107"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link7.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="-1.57079632679 0 0" xyz="0 0 -0.107"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/link7.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_panda_joint7" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 -0.107"/>
    <parent link="left_panda_link8"/>
    <child link="left_panda_link7"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="12" lower="-2.8973" upper="2.8973" velocity="2.6100"/>
  </joint>

  <joint name="left_panda_hand_joint" type="fixed">
    <parent link="left_panda_hand"/>
    <child link="left_panda_link8"/>

    <origin rpy="0 0 0.785398163397" xyz="0 0 0"/>
  </joint>
  <link name="left_panda_hand">
    <visual>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/hand.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/hand.obj"/>
      </geometry>
    </collision>
  </link>


  <link name="left_panda_leftfinger">
    <visual>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/finger.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/finger.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="left_panda_rightfinger">
    <visual>
      <origin rpy="0 0 3.14159265359" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/finger.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 3.14159265359" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/finger.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_panda_finger_joint1" type="prismatic">
    <parent link="left_panda_hand"/>
    <child link="left_panda_leftfinger"/>
    <origin rpy="0 0 0" xyz="0 0 0.0584"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="10.0"/>
    <limit effort="20" lower="0.0" upper="0.04" velocity="0.2"/>
  </joint>
  <joint name="left_panda_finger_joint2" type="prismatic">
    <parent link="left_panda_hand"/>
    <child link="left_panda_rightfinger"/>
    <origin rpy="0 0 0" xyz="0 0 0.0584"/>
    <axis xyz="0 -1 0"/>
    <dynamics damping="10.0"/>
    <limit effort="20" lower="0.0" upper="0.04" velocity="0.2"/>
  </joint>

  <link name="left_ee_link"/>

  <joint name="left_ee_fixed_joint" type="fixed">
    <parent link="left_ee_link"/>
    <child link="left_panda_hand"/>
    <origin rpy="0 0.0 0" xyz="0.0 0. -0.1"/>
  </joint>

  <link name="left_right_gripper">
    <inertial>
      <!-- Dummy inertial parameters to avoid link lumping-->
      <mass value="0.01"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </inertial>
  </link>
  <joint name="left_right_gripper" type="fixed">
    <!--<origin rpy="0 0 2.35619449019" xyz="0 0 0.1"/>-->
    <origin rpy="0 0 2.35619449019" xyz="0 0 0.207"/>
    <axis xyz="0 0 1"/>
    <parent link="left_panda_link7"/>
    <!--<parent link="panda_link8"/>-->
    <child link="left_right_gripper"/>
  </joint>





  <link name="base_link"/>
  <joint name="right_panda_fixed" type="fixed">
    <origin rpy="0 0 0.0" xyz="0 0.5 0.0"/>
    <parent link="base_link"/>
    <child link="right_panda_link0"/>
    <axis xyz="0 0 0"/>
  </joint>

  <link name="right_panda_link0">
    <visual>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link0.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/link0.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="right_panda_link1">
    <visual>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link1.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://relaxed_ik/collision/link1.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_panda_joint1" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="0 0 0" xyz="0 0 0.333"/>
    <parent link="right_panda_link0"/>
    <child link="right_panda_link1"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-2.8973" upper="2.8973" velocity="2.1750"/>
  </joint>
  <link name="right_panda_link2">
    <visual>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link2.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://relaxed_ik/collision/link2.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_panda_joint2" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-1.7628" soft_upper_limit="1.7628"/>
    <origin rpy="-1.57079632679 0 0" xyz="0 0 0"/>
    <parent link="right_panda_link1"/>
    <child link="right_panda_link2"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-1.7628" upper="1.7628" velocity="2.1750"/>
  </joint>
  <link name="right_panda_link3">
    <visual>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link3.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/link3.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_panda_joint3" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="1.57079632679 0 0" xyz="0 -0.316 0"/>
    <parent link="right_panda_link2"/>
    <child link="right_panda_link3"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-2.8973" upper="2.8973" velocity="2.1750"/>
  </joint>
  <link name="right_panda_link4">
    <visual>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link4.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/link4.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_panda_joint4" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-3.0718" soft_upper_limit="-0.0698"/>
    <origin rpy="1.57079632679 0 0" xyz="0.0825 0 0"/>
    <parent link="right_panda_link3"/>
    <child link="right_panda_link4"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-3.0718" upper="-0.0698" velocity="2.1750"/>
    <!-- something is weird with this joint limit config
    <dynamics damping="10.0"/>
    <limit effort="87" lower="-3.0" upper="0.087" velocity="2.1750"/>  -->
  </joint>
  <link name="right_panda_link5">
    <visual>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link5.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/link5.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_panda_joint5" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="-1.57079632679 0 0" xyz="-0.0825 0.384 0"/>
    <parent link="right_panda_link4"/>
    <child link="right_panda_link5"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="12" lower="-2.8973" upper="2.8973" velocity="2.6100"/>
  </joint>
  <link name="right_panda_link6">
    <visual>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link6.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/link6.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_panda_joint6" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-0.0175" soft_upper_limit="3.7525"/>
    <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
    <parent link="right_panda_link5"/>
    <child link="right_panda_link6"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="12" lower="-0.0175" upper="3.7525" velocity="2.6100"/>
    <!-- <dynamics damping="10.0"/>
    <limit effort="12" lower="-0.0873" upper="3.0" velocity="2.6100"/> -->
  </joint>
  <link name="right_panda_link7">
    <visual>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/link7.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/link7.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_panda_joint7" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="1.57079632679 0 0" xyz="0.088 0 0"/>
    <parent link="right_panda_link6"/>
    <child link="right_panda_link7"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="10.0"/>
    <limit effort="12" lower="-2.8973" upper="2.8973" velocity="2.6100"/>
  </joint>

  <link name="right_panda_link8"/>
  <joint name="right_panda_joint8" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.107"/>
    <parent link="right_panda_link7"/>
    <child link="right_panda_link8"/>
    <axis xyz="0 0 0"/>
  </joint>
  <joint name="right_panda_hand_joint" type="fixed">
    <parent link="right_panda_link8"/>
    <child link="right_panda_hand"/>

    <origin rpy="0 0 -0.785398163397" xyz="0 0 0"/>
  </joint>
  <link name="right_panda_hand">
    <visual>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/hand.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/hand.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="right_panda_leftfinger">
    <visual>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/finger.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/finger.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="right_panda_rightfinger">
    <visual>
      <origin rpy="0 0 3.14159265359" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/visual/finger.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 3.14159265359" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://relaxed_ik/meshes/collision/finger.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_panda_finger_joint1" type="prismatic">
    <parent link="right_panda_hand"/>
    <child link="right_panda_leftfinger"/>
    <origin rpy="0 0 0" xyz="0 0 0.0584"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="10.0"/>
    <limit effort="20" lower="0.0" upper="0.04" velocity="0.2"/>
  </joint>
  <joint name="right_panda_finger_joint2" type="prismatic">
    <parent link="right_panda_hand"/>
    <child link="right_panda_rightfinger"/>
    <origin rpy="0 0 0" xyz="0 0 0.0584"/>
    <axis xyz="0 -1 0"/>
    <dynamics damping="10.0"/>
    <limit effort="20" lower="0.0" upper="0.04" velocity="0.2"/>
  </joint>

  <link name="right_ee_link"/>

  <joint name="right_ee_fixed_joint" type="fixed">
    <parent link="right_panda_hand"/>
    <child link="right_ee_link"/>
    <origin rpy="0 0.0 0" xyz="0.0 0. 0.1"/>
  </joint>
  <link name="right_right_gripper">
    <inertial>
      <!-- Dummy inertial parameters to avoid link lumping-->
      <mass value="0.01"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </inertial>
  </link>
  <joint name="right_right_gripper" type="fixed">
    <!--<origin rpy="0 0 2.35619449019" xyz="0 0 0.1"/>-->
    <origin rpy="0 0 2.35619449019" xyz="0 0 0.207"/>
    <axis xyz="0 0 1"/>
    <parent link="right_panda_link7"/>
    <!--<parent link="panda_link8"/>-->
    <child link="right_right_gripper"/>
  </joint>

</robot>
